{% extends 'base.html' %}
{% block body%}
<div class="container">
    <h1>{{ title }}</h1>
    <p>Настоящий документ &laquo;<strong>Пользовательское соглашение</strong>&raquo; представляет собой предложение ООО &laquo;_____&raquo; (далее &mdash; &laquo;Администрация&raquo;), заключить договор на изложенных ниже условиях Соглашения.<br /><br /></p>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#1"> 1. Общие положения Пользовательского соглашения</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#2"> 2. Условия пользования по Соглашению</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#3">3. Лицензия на использование Сайта и допустимое использование Сервиса</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#4"> 4. Гарантии Пользователя по Соглашению</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#5">5. Лицензия на использование пользовательского контента</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#6">6. Ограничения использования</a></div>
<div><a href="/usloviya_ispolzovaniya_servisa/polzovatelskoe_soglashenie/#7">7. Уведомления и рассылка</a></div>
<p><div class="info">Обратите внимание, что данный шаблон Пользовательского соглашения подходит для сайта доски объявлений, биржи, социальной сети и прочих сайтов с формой регистрации и размещения пользовательского контента.</div><div></p>

<h3 id="1">1. Общие положения Пользовательского соглашения</h3>
<p>1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:</div>а) <strong>Платформа</strong> &mdash; программно-аппаратные средства, интегрированные с Сайтом Администрации;<br /><br />б) <strong>Пользователь</strong> &mdash; дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица.<br /><br />в) <strong>Сайт Администрации/ Сайт</strong> &mdash; интернет-сайты, размещенные в домене ________.ru и его поддоменах.<br /><br />г) <strong>Сервис</strong> &mdash; комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.<br /><br />д) <a href="http://it-lex.ru" target="_blank" title="Пользовательское соглашение для сайта">Соглашение</a> - настоящее соглашение со всеми дополнениями и изменениями.</p>
<p>1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:</p>
<ul>
<li>просмотр размещенных на Сайте материалов;</li>
<li>регистрация и/или авторизация на Сайте,</li>
<li>размещение или отображение на Сайте любых материалов, включая но не ограничиваясь такими как: тексты, гипертекстовые ссылки, изображения, аудио и видео- файлы, сведения и/или иная информация,</li>
</ul>
<p>создает договор на условиях настоящего Соглашения в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации.</p>
<p>1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br /><br />а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса.<br /><br />б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.<br /><br />в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.</p>
<p><div class="info"> <strong>Важно знать!</strong> <em>Для придания юридической силы дисклаймеру, включенному в текст соглашения с пользователем, необходимо подтвердить факт ознакомления и принятия пользователем его условий. Для этого используется предусмотренный законодательством механизм заключения договоров.</div><div></em></p>
<h3 id="2">2. Условия пользования по Соглашению</h3>
<p>2.1. Использование функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой.</p>
<p>2.2. Технические, организационные и коммерческие условия использования Сервиса, в том числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.</p>
<p>2.3. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.</div></p>
<h3 id="3">3. Лицензия на использование Сайта и допустимое использование Сервиса</h3>
<p><em>В данном разеле описываются разрешенные способы использования Сайта и предоставляемого на его основе Сервиса. Безвозмездность лицензии препятствует применению Закона О защите прав потребителя в случае, когда на стороне пользователя &ndash; физическое лицо. </em></p>
<h3 id="4">4. Гарантии Пользователя по Соглашению</h3>
<p><em>В разеле указываются гарантии и заверения со стороны пользователя о соблюдении требований законодательства и Пользовательского соглашения при использовании Сайта и Сервиса на его основе. Данные положения необходимы, в частности, для последующего возложения ответственности на пользователя за нарушения законодателства или прав третьих лиц в связи с публикацией на сайте противоправных материалов.</em></p>

<h3 id="5">5. Лицензия на использование пользовательского контента</h3>
<p><em>При организации социального сервиса или платформы для размещения пользователями различных материалов в публичном доступе необходимо оформлять лицензионное соглашение с каждым пользователем на использование его материалов в рамках такого Интернет-сервиса. Например разрешение пользователя на использование его фотографиии может понадобиться для ее публикации на страницах других пользователей и т.д.</em></p>
<div><em>Кроме того, получение лицензии подтверждает факт использования контента с разрешения пользователя, который отвечает за наличие у него полномочий на выдачу такой лицензии</em></div>
<div>
<h3 id="6">6. Ограничения использования</h3>
</div>
<div> <em>В Пользовательском соглашении необходимо с достаточной ясностью изложить условия об ограничении ответственности за предоставление и использование Сервиса, в том числе публикуемый с его использованием пользовательский контент.</em></div>
<div><em> </em></div>
<div><em>Помимо этого, соблюдение требований федерального закона Об информации в редакции нового антипиратского закона предполагает удаление информационным посредником спорных материалов по первому обращению  правообладателя. Поэтому Пользовательское соглашение должно предоставлять владельцу интернет-сервиса такую возможность без предварительного согласования и уведомления пользователя</em></div>
<div>
<h3 id="7">7. Уведомления и рассылка</h3>
</div>
<div><em>Данное положение Соглашения направлено на соблюдение требований о недопущении СПАМа.</em></div>
<div>
<h3>8. Условия использования аналога собственноручной подписи</h3>
</div>
<div><em>Раздел включает порядок использования логина и пароля или адреса электронной почты в качестве ключа простой электронной подписи. Данное условие необходимо для придания юридической силы всем действиям сторон и упрощения возможного документооборота.</em></div>

</div>
{% endblock %}